{% extends "catalog/base.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Наши товары</h1>
    <a href="{% url 'catalog:publication_list' %}" class="btn btn-outline-danger">Читать наш блог 📝</a>
</div>

<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 20px; margin-top: 20px;">
    {% for p in products %}
    <div style="border: 1px solid #ddd; padding: 15px; border-radius: 8px; text-align: center;">
        <h3>{{ p.name }}</h3>
        <p><b>{{ p.price }} руб.</b></p>
        <a href="{% url 'catalog:product_detail' p.slug %}" class="btn btn-primary">Подробнее</a>
    </div>
    {% empty %}
    <p>Товаров нет.</p>
    {% endfor %}
</div>
{% endblock %}