{% extends "catalog/base.html" %}
{% block content %}
<div style="display: flex; gap: 30px;">
    <div style="flex: 1;">
        {% for img in product.images.all %}
            <img src="{{ img.image.url }}" style="width: 100%; margin-bottom: 10px; border-radius: 8px;">
        {% empty %}
            <div style="padding: 50px; background: #eee; text-align: center;">Нет фото</div>
        {% endfor %}
    </div>
    <div style="flex: 1;">
        <h1>{{ product.name }}</h1>
        <p style="font-size: 1.5em; color: green;">{{ product.price }} руб.</p>
        <p>{{ product.description }}</p>
        <a href="{% url 'catalog:cart_detail' %}" class="btn" style="background: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Добавить в корзину</a>
    </div>
</div>
{% endblock %}